<div class="col-lg-10 mt-2">
  <h3>Hey! Below are the properties you have posted!!</h3>
  <div class="row pb-5 mb-4">
    <div class="col-lg-3 col-md-6 mb-4 mb-lg-0" *ngFor="let prop of properties">
      <!-- Card-->
      <div class="card rounded shadow-sm border-0">
        <div class="card-body p-4">
          <img
            src="{{ prop.imageUrl }}"
            alt=""
            class="img-fluid d-block mx-auto mb-3"
          />
          <h5>
            <a href="#" class="text-dark">{{ prop.name }}</a>
          </h5>
          <p class="small text-muted font-italic">
            {{ prop.description | slice: 0:25 }}
          </p>
          <p class="small text-muted font-italic">
            {{ prop.city }}
          </p>
          <p class="small text-muted font-italic">
            Price : {{ prop.price | currency: "INR" }}
          </p>

          <a
            routerLink="property-edit/{{ prop.id }}"
            class="btn btn-sm btn-success"
            ><i class="fa fa-edit"></i></a
          >&nbsp;
          <button
            (click)="deleteProperty(prop.id)"
            class="btn btn-sm btn-danger"
          >
            <i class="fa fa-trash-o" aria-hidden="true"></i>
          </button>
        </div>
      </div>
    </div>
    <div class="col-lg-10 mt-5 mx-auto" *ngIf="properties.length == 0">
      <div class="alert alert-info" role="alert">
        <h4 class="alert-heading">No proerties</h4>
        <p>Post a new Property now!!</p>
        <p class="mb-0"></p>
      </div>
    </div>
  </div>
</div>
