<div class="container mt-5">
  <div class="row">
    <div class="col-lg-8">
      <h1>{{ property.name }}</h1>
      <h3>Price- {{ property.price }}/-</h3>
      <p>
        {{ property.description }}
      </p>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-lg-8">
      <img src="{{ property.imageUrl }}" height="400" />
    </div>
    <div class="col-lg-4">
      <h2>Contact Information</h2>
      <button class="btn btn-outline-mycolor">
        <i class="fa fa-phone" aria-hidden="true"></i> Contact owner
      </button>
      <button class="btn btn-outline-mycolor">
        <i class="fa fa-question" aria-hidden="true"></i> Ask for visit
      </button>
      <h6 class="h6 mt-5"><strong>Address</strong></h6>
      <p>{{ property.address }}</p>
    </div>
  </div>
</div>
