<div class="container-fluid py-5">
  <div class="row">
    <div class="col-lg-2">
      <div class="filter">
        <h2>Filters</h2>
        <form>
          <select #type>
            <option value="-1">Type</option>
            <option value="1">1 BHK</option>
            <option value="2">2 BHK</option>
            <option value="3">3 BHK</option>
            <option value="4">PG</option>
          </select>

          <select #price>
            <option value="0">Price</option>
            <option value="1000">>1000</option>
            <option value="5000">>5000</option>
            <option value="10000">>10000</option>
          </select>
          <select #city>
            <option value="none">Choose City</option>
            <option value="Banglore">Bangalore</option>
            <option value="Delhi">Delhi</option>
            <option value="Kolkata">Kolkata</option>
            <option value="Chennai">Chennai</option>
            <option value="Pune">Pune</option>
          </select>
          <input
            type="button"
            value="Apply filters"
            (click)="getFilterProperties(city.value, +price.value, +type.value)"
            class="btn btn-outline-mycolor btn-sm"
          />
        </form>
      </div>
    </div>
    <div class="col-lg-10">
      <h2 class="font-weight-bold mb-2">Properties</h2>

      <div class="row pb-5 mb-4">
        <div
          class="col-lg-3 col-md-6 mb-4 mb-lg-0"
          *ngFor="let prop of properties"
        >
          <!-- Card-->
          <div class="card rounded shadow-sm border-0">
            <div class="card-body p-4">
              <img
                src="{{ prop.imageUrl }}"
                alt=""
                class="img-fluid d-block mx-auto mb-3"
              />
              <h5>
                <a href="#" class="text-dark">{{ prop.name }}</a>
              </h5>
              <p class="small text-muted font-italic">
                {{ prop.description | slice: 0:25 }}
              </p>
              <p class="small text-muted font-italic">
                {{ prop.city }}
              </p>
              <p class="small text-muted font-italic">
                Price : {{ prop.price | currency: "INR" }}
              </p>

              <a
                href="propertyView/{{ prop.id }}"
                class="btn btn-outline-mycolor"
                >See more</a
              >
            </div>
          </div>
        </div>
        <div class="col-lg-10 mx-auto mt-3" *ngIf="properties.length == 0">
          <div class="alert alert-info" role="alert">
            <h4 class="alert-heading">Ah Snap!</h4>
            <p>No Ad has been posted!!</p>
            <p class="mb-0">Have Property? Post now!!</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
